    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

    * {
        box-sizing: border-card;
        padding: 0;
        margin: 0;
    }

    body {
        font-size: 15px;
        background: hsl(233, 47%, 7%);
        font-family: 'Inter', sans-serif;
        color: hsl(0, 0%, 100%);
        line-height: 1.8em;
    }

    .wrapper {
        max-width: 1400px;
        display: grid;
        grid-template-columns: 50% 50%;
        min-width: 950px;
        height: auto;
        width: 80%;
        margin: 5rem auto;
    }

    .logo {
        background-image: url("../images/image-header-desktop.jpg");
        padding: 15rem 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: hsl(277, 64%, 61%);
        background-blend-mode: multiply;
        border-radius: 0 5px 5px 0;
    }

    .card {
        background: hsl(244, 38%, 16%);
    }

    .card:nth-child(2) {
        padding-top: 2.5em;
    }

    .card:nth-child(2),
    .card:nth-child(3) {
        padding-right: 9em;
        padding-left: 3.5em;
    }

    .card:nth-child(1) {
        grid-column: 2/3;
        grid-row: 1/5;
        border-radius: 0 5px 5px 0;
    }

    .card:nth-child(2) {
        grid-column: 1/2;
        grid-row: 1/3;
        border-top-left-radius: 5px;
    }

    .card:nth-child(3) {
        grid-column: 1/2;
        grid-row: 3/5;
        border-bottom-left-radius: 5px;
    }

    /* middle card */

    .card h1 {
        font-size: 2.8em;
        line-height: 1.2em;
        padding-bottom: 0.4em;
    }

    .card span {
        color: hsl(277, 64%, 61%);
    }

    .card p {
        font-size: large;
        color: hsla(0, 0%, 100%, 0.75);

    }

    /* bottom card */

    .card ul {
        display: flex;
        flex-direction: row;
    }

    .card li {
        list-style: none;
        padding: 1em;
    }

    .stats {
        text-transform: uppercase;
        font-size: small;
        margin: 0 auto 0 0;
    }

    .stats strong {
        display: block;
        font-size: x-large;
        color: inherit
    }

    /* smaller screen */

    @media (max-width: 700px) {
        .wrapper {
            display: flex;
            flex-direction: column;
            margin: 5em auto;
            min-width: 400px;
        }

        .logo {
            background-image: url("../images/image-header-mobile.jpg");
            padding: 10rem 0;
            border-radius: 5px 5px 0 0;
        }

        .card {
            text-align: center;
        }

        .card:nth-child(3) {
            grid-column: unset;
            grid-row: unset;
        }

        .card:nth-child(1) {
            border-radius: 5px 5px 0 0;
        }

        .card:nth-child(2),
        .card:nth-child(3) {
            padding: 4em 1em;
        }

        .card:nth-child(3){
            border-radius: 0 0 5px 5px;
        }

        .card ul {
            display: flex;
            flex-direction: column;
        }

        .card li {
            padding-top: 0;
            padding-bottom: 2.5em;
        }

        .stats {
            margin: 0 auto;
        }

    }

    @media (max-width: 375px) {
        .wrapper {
            min-width: 350px;
            width: 90%;
        }

        .logo {
            padding: 8rem 0;
        }

        .card h1 {
            font-size: xx-large;
        }

        .card:nth-child(2),
        .card:nth-child(3) {
            padding: 2em 1em;
        }
    }